extends /includes/layout

block header
  meta(name="description", content="Some of the projects I've worked on.")
  title Adam Heins - Projects

block styles
  link(rel="stylesheet", href=staticHost + "/css/prism.css")

block scripts
  script(src=staticHost + "/js/prism.js")

block content
  article
    section
      h1 Projects
      each section, index in sections
        section.group
          h2= section.name
          p.description!= section.description
          for project in section.projects
            section.item
              h3 #[a(href=project.title.url)= project.title.name]
              p.description!= project.description
              .links
                for link in project.links.all
                  | [#[a(href=link.url)=link.name]] &nbsp;
        if index < sections.length - 1
          .divider
