extends layout

block header
  title= article.title
  meta(name="description", content= article.description)

block scripts
  each script, i in article.scripts
    script(src= script)

block styles
  each style, i in article.styles
    link(rel="stylesheet", href= style)

block content
  .page-header
    .article-date= article.formatted_date
    h1= article.title
    .article-flavour= article.flavour
  .page-body!= article.body
