extends ../../layout

block header
  meta(name="description", content="Console for creating new blog posts.")
  title Create

block styles
  link(rel="stylesheet", href="/css/blog-view.css")
  each style in draft.styles
    link(rel="stylesheet", href= style)

block scripts
  script(src="/js/blog-view.js")
  each script in draft.scripts
    script(src= script)

block content
  .page-header
    h1 Create
    p Create a new blog article.
  .page-body
    form(action="/admin/blog/create/publish", method="post")
      div
        label(for="title") Title
        input(name="title", id="title", type="text", value= draft.title)
      div
        label(for="description") Description
        textarea(name="description", id="description", type="text", rows="2")= draft.description
      div
        label(for="flavour") Flavour
        input(name="flavour", id="flavour", type="text", value= draft.flavour)
      div
        label(for="body") Body
        textarea(name="body", id="body", type="text", rows="15")= draft.body
      div
        label(for="link") Link
        input(name="link", id="link", type="text", value= draft.link)
      div
        label(for="scripts") Scripts
        textarea(id="scripts", name="scripts", type="text", rows="3")= scriptsText
      div
        label(for="styles") Styles
        textarea(id="styles", name="styles", type="text", rows="3")= stylesText
      button.submit(type="submit") Publish
      button.submit.push(type="submit", formaction="/admin/blog/create/save", formmethod="post") Save
      button.submit.push Download
      form
        button.cancel.right(type="submit", action="/admin/blog", method="get") Cancel
  #article
    .page-header
      #article-date.article-date= draft.formattedDate
      h1#article-title= draft.title
      #article-flavour.article-flavour= draft.title === "" ? "" : draft.flavour
    #article-body.page-body!= draft.body
