extends ../../layout

block header
  meta(name="description", content="Console for editing existing blog posts.")
  title= article.title

block styles
  link(rel="stylesheet", href="/css/blog-view.css")
  each style in article.styles
    link(rel="stylesheet", href= style)

block scripts
  script(src="/js/blog-view.js")
  each script in article.scripts
    script(src= script)

block content
  .page-header
    h1 Edit
    p View and edit an existing article.
  .page-body
    form(action="/admin/blog/edit/update", method="post")
      div
        label(for="title") Title
        input(id="title", name="title", type="text", value= article.title)
      div
        label(for="date-posted") Date Posted
        input(id="date-posted", type="text", value= article.date_posted, readonly)
      div
        label(for="description") Description
        textarea(id="description", name="description", type="text", rows="2")= article.description
      div
        label(for="flavour") Flavour
        input(id="flavour", name="flavour", type="text", value= article.flavour)
      div
        label(for="body") Body
        textarea(id="body", name="body", type="text", rows="15")= article.body
      div
        label(for="link") Link
        input(id="link", name="link", type="text", value= article.link)
      div
        label(for="scripts") Scripts
        textarea(id="scripts", name="scripts", type="text", rows="3")= scriptsText
      div
        label(for="styles") Styles
        textarea(id="styles", name="styles", type="text", rows="3")= stylesText
      button#update.btn.submit(type="submit") Update
      a.btn.cancel.right(href="/admin/blog") Cancel
  #article
    .page-header
      #article-date.article-date= article.formattedDate
      h1#article-title= article.title
      #article-flavour.article-flavour= article.flavour
    #article-body.page-body!= article.body
