extends ../layout

block header
  title= article.title
  meta(name="description", content= article.description)

block styles
  each style in article.styles
    link(rel="stylesheet", href= style)

block scripts
  each script in article.scripts
    script(src= script)

block content
  .page-header
    if isAdmin
      a.inline.right(href="/admin/blog/edit/" + article.link) Edit
    .article-date= article.formattedDate
    h1= article.title
    .article-flavour= article.flavour
  .page-body!= article.body
  .comments
    h2 Comments
    if !article.comments || article.comments.length === 0
      p There are no comments yet.
    else
      each comment in article.comments
        .comment
          if isAdmin || (user && user.name === comment.name)
            form(action="/blog/" + article.link + "/comment/" + comment._id + "/remove", method="post")
              input(name="name", type="hidden", value=comment.name)
              button.remove(type="submit") Remove
          p.name= comment.name
          p.date= comment.time
          p= comment.content
  .post-comment
    h2 Post a comment
    if !user
      p You need to <a href="/user/signin">sign in</a> to post a comment.
    else
      form(action="/blog/" + article.link + "/comment", method="post")
        textarea(name="content", placeholder="Comment", rows="3")
        button.submit(type="submit") Submit
        button#clear.cancel.right(type="button") Clear

