extends ../layout

block header
  title= article.title
  meta(name="description", content= article.description)

block styles
  each style in article.styles
    link(rel="stylesheet", href= style)

block scripts
  script(src="/js/comment.js")
  each script in article.scripts
    script(src= script)

block content
  article
    .page-header
      if isAdmin
        a.right(href="/admin/blog/edit/" + article.link) Edit
      .article-date= article.formattedDate
      h1= article.title
      .article-flavour= article.flavour
    .page-body!= article.body
