mixin header
  header
    .brand
      h1
        a.name(href=host) Adam Heins
    nav
      a(href=host + "/blog") Blog
      a(href=host + "/projects") Projects
      a(href=staticHost + "/cv.pdf") CV
      a(href=host + "/about") About

mixin footer
  footer
    .contact
      a(href="https://github.com/adamheins") GitHub
      span &nbsp|&nbsp
      a(href="mailto:mail@adamheins.com") Email
      span &nbsp|&nbsp
      a(href="http://ca.linkedin.com/in/adamwheins") LinkedIn
      span &nbsp|&nbsp
      a(href="https://scholar.google.com/citations?hl=en&user=4G2IkRUAAAAJ") Scholar
    .credit Adam Heins &copy #{year}
